/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

*, *:before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  max-width: 1920px;
  font-family: "Roboto Condensed", sans-serif; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.header {
  max-width: 1920px;
  background-color: #aa0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 88px; }
  .header .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .list li {
      margin-left: 64px; }
      .header .list li a {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none; }
        .header .list li a:hover {
          color: black; }

@media (max-width: 992px) {
  .header {
    padding: 30px 39px; } }

@media (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    .header .list {
      margin-top: 10px;
      width: 100%; }
      .header .list li {
        width: 50%;
        margin-left: 0;
        text-align: center;
        border: 1px solid white;
        padding: 8px 0; } }

.footer {
  background-color: #aa0601;
  padding: 32px 0; }
  .footer .footerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footerTop .self ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 36px; }
      .footer .footerTop .self ul li {
        margin-right: 48px; }
        .footer .footerTop .self ul li a {
          display: block;
          color: white;
          font-size: 16px;
          text-decoration: none;
          padding: 5px; }
          .footer .footerTop .self ul li a:hover {
            color: black; }
    .footer .footerTop .self .tel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 16px; }
      .footer .footerTop .self .tel a {
        font-size: 36px;
        color: white;
        text-decoration: none;
        margin-left: 22px; }
    .footer .footerTop .self .mail {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 24px; }
      .footer .footerTop .self .mail a {
        font-size: 36px;
        color: white;
        text-decoration: none;
        margin-left: 22px; }
  .footer .faceBook img {
    margin-left: 32px; }
  .footer .footerBottom {
    border-top: 1px solid white;
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .footerBottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footerBottom ul li {
        margin-left: 48px; }
        .footer .footerBottom ul li a {
          font-size: 14px;
          color: white;
          text-decoration: none; }
          .footer .footerBottom ul li a:hover {
            color: black; }

@media (max-width: 992px) {
  .footer .container {
    max-width: 690px; }
    .footer .container .footerTop .self ul {
      margin-bottom: 0; }
    .footer .container .footerTop .self li {
      margin-right: 20px;
      width: 70px; }
      .footer .container .footerTop .self li a {
        font-size: 14px; }
    .footer .container .footerTop .tel img {
      width: 18px;
      height: 18px; }
    .footer .container .footerTop .tel a {
      font-size: 20px; }
    .footer .container .footerTop .mail img {
      width: 18px;
      height: 18px; }
    .footer .container .footerTop .mail a {
      font-size: 20px; }
    .footer .container .footerTop .faceBook img {
      width: 24px;
      height: 24px;
      margin-left: 24px; }
  .footerBottom ul li a {
    display: block;
    text-align: right;
    width: 70px; } }

@media (max-width: 767px) {
  .footer .container {
    max-width: 375px;
    padding: 0 15px; }
    .footer .container .footerTop .self ul {
      display: none; }
  .footerTop .faceBook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer .container .footerBottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .container .footerBottom p {
      margin-bottom: 10px; }
    .footer .container .footerBottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .container .footerBottom ul li {
        margin-left: 0;
        margin-bottom: 10px; }
        .footer .container .footerBottom ul li a {
          text-align: left; } }

.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: 840px;
  background-size: cover;
  background-position: center;
  padding: 350px 0; }
  .banner .bannerTxt {
    text-align: right; }
    .banner .bannerTxt h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 36px;
      color: #650300; }
    .banner .bannerTxt p {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 64px;
      color: #650300;
      font-weight: 600; }

@media (max-width: 992px) {
  .banner {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true); }
    .banner .container {
      max-width: 690px; }
      .banner .container h1 {
        font-size: 20px; }
      .banner .container p {
        font-size: 48px; } }

@media (max-width: 767px) {
  .banner {
    height: 394px; }
  .banner .container {
    max-width: 375px; }
    .banner .container h1 {
      font-size: 16px; }
    .banner .container p {
      font-size: 32px; } }

.major {
  background-color: #AA06010D; }
  .major .container {
    padding: 60px 0; }
    .major .container h2 {
      text-align: center;
      color: #650300;
      font-size: 48px;
      font-weight: 600;
      margin-bottom: 40px; }
    .major .container ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .major .container ul li {
        text-align: center;
        width: 23%; }
        .major .container ul li img {
          width: 83px;
          height: 83px;
          margin-bottom: 24px; }
        .major .container ul li h3 {
          margin-bottom: 8px;
          color: #650300;
          font-size: 24px;
          font-weight: 600; }
        .major .container ul li p {
          font-size: 16px;
          line-height: 1.5; }

@media (max-width: 992px) {
  .major .container {
    max-width: 690px;
    padding: 40px; }
    .major .container h2 {
      font-size: 32px; }
  .major .container ul li {
    width: 45%; } }

@media (max-width: 767px) {
  .major {
    padding: 32px 60px; }
    .major .container h2 {
      font-size: 24px; }
    .major .container ul li {
      width: 100%;
      margin-bottom: 40px; } }

.classic {
  margin-top: 60px;
  margin-bottom: 80px; }
  .classic h2 {
    text-align: center;
    font-size: 48px;
    color: #650300;
    font-weight: 600;
    margin-bottom: 40px; }
  .classic .classicItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
    .classic .classicItem img {
      max-width: 57%; }
    .classic .classicItem .classicTxt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 30px; }
      .classic .classicItem .classicTxt p {
        font-size: 48px;
        color: #aa0601;
        font-weight: 600;
        margin-left: 10px; }
  .classic .special {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .classic .special .special2 {
      margin-right: 30px; }

@media (max-width: 992px) {
  .container {
    max-width: 690px; }
    .container .classicItem .classicTxt p {
      font-size: 28px; }
    .container .special {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 15px; }
    .container .classicItem {
      width: 100%;
      position: relative; }
      .container .classicItem img {
        max-width: 100%; }
      .container .classicItem .classicTxt {
        position: absolute;
        top: 50%;
        left: 40%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }

.joint {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-size: cover;
  background-position: center;
  padding: 60px 0 80px 0; }
  .joint h2 {
    font-size: 48px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px; }
  .joint .jointContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .joint .jointContent .jointSetting1 {
      opacity: 0.8;
      position: relative;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
      background-size: cover;
      background-position: center;
      width: 540px;
      height: 455px; }
      .joint .jointContent .jointSetting1 p {
        position: absolute;
        font-size: 64px;
        color: #aa0601;
        font-weight: 600;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .joint .jointContent .jointSetting2 {
      opacity: 0.8;
      position: relative;
      background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
      background-size: cover;
      background-position: center;
      width: 540px;
      height: 455px; }
      .joint .jointContent .jointSetting2 p {
        position: absolute;
        font-size: 64px;
        color: #aa0601;
        font-weight: 600;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

@media (max-width: 992px) {
  .container {
    max-width: 690px; }
    .container .jointContent .jointSetting1 {
      width: 330px; }
      .container .jointContent .jointSetting1 p {
        font-size: 32px; }
    .container .jointContent .jointSetting2 {
      width: 330px; }
      .container .jointContent .jointSetting2 p {
        font-size: 32px; } }

@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 15px; }
    .container h2 {
      font-size: 20px; }
    .container .jointContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .container .jointContent .jointSetting1 {
        width: 345px;
        height: 291px;
        margin-bottom: 16px; }
      .container .jointContent .jointSetting2 {
        width: 345px;
        height: 291px; } }

.customer {
  margin-top: 60px; }
  .customer h3 {
    color: #650300;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center; }
  .customer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .customer ul li {
      width: 23%;
      border: 1px solid #DEE2E6;
      -webkit-box-shadow: 2px 2px 1px #DEE2E6;
              box-shadow: 2px 2px 1px #DEE2E6;
      border-radius: 3px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .customer ul li img {
        margin-bottom: 16px;
        max-width: 100%;
        height: 256px; }
      .customer ul li h4 {
        margin-bottom: 8px;
        font-size: 14px;
        margin-left: 16px; }
      .customer ul li p {
        font-size: 16px;
        line-height: 1.5;
        height: calc(100% - 80px);
        padding: 16px; }
      .customer ul li h6 {
        font-size: 14px;
        color: #707070;
        margin-left: 16px;
        margin-bottom: 16px; }

@media (max-width: 992px) {
  .container {
    max-width: 690px; }
    .container ul li {
      width: 49%;
      margin-bottom: 32px; } }

@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 15px; }
    .container ul li {
      width: 100%; } }

.connection {
  background-color: #AA06010D;
  padding: 60px 0;
  margin-top: 80px; }
  .connection .container {
    padding: 0 200px; }
    .connection .container h3 {
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 24px; }
    .connection .container p {
      font-size: 20px;
      text-align: left;
      margin-bottom: 20px;
      line-height: 1.5; }
    .connection .container label {
      display: block;
      margin-bottom: 4px;
      font-size: 16px; }
    .connection .container input {
      width: 100%;
      margin-bottom: 16px;
      opacity: 0.3;
      border: 1px solid black;
      padding: 10px; }
    .connection .container textarea {
      width: 100%;
      opacity: 0.3;
      height: 136px;
      margin-bottom: 16px; }
    .connection .container .check {
      width: 20px;
      opacity: 1; }
    .connection .container .btn {
      display: block;
      width: 50%;
      margin-left: 25%;
      padding: 16px 0;
      background-color: #aa0601;
      border: none;
      color: white;
      margin-top: 20px; }
      .connection .container .btn:hover {
        cursor: pointer;
        background-color: gray;
        color: #aa0601; }

@media (max-width: 992px) {
  .connection .container {
    max-width: 690px;
    padding: 0 100px; }
    .connection .container h3 {
      font-size: 32px; }
    .connection .container p {
      font-size: 16px; }
  .connection .btn {
    width: 40%; } }

@media (max-width: 767px) {
  .connection .container {
    max-width: 375px;
    padding: 0 15px; }
  .connection h3 {
    font-size: 20px; } }

.productMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .productMenu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #DCDCDC;
    width: 370px;
    padding: 27px 0; }
    .productMenu li img {
      margin-right: 8px;
      width: 32px;
      height: 32px; }
    .productMenu li a {
      display: block;
      font-size: 32px;
      text-decoration: none;
      color: black;
      font-weight: 600; }
      .productMenu li a:hover {
        color: #650300; }

@media (max-width: 992px) {
  .productMenu li {
    width: 230px;
    padding: 8px 0; }
    .productMenu li img {
      width: 25px;
      height: 25px; }
    .productMenu li a {
      font-size: 24px; } }

@media (max-width: 767px) {
  .productMenu li {
    width: 115px; }
    .productMenu li img {
      width: 14px;
      height: 14px;
      margin-right: 5px; }
    .productMenu li a {
      font-size: 14px; } }

.products1-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  .products1-banner .pb1 img {
    max-width: 100%;
    height: 304px; }
  .products1-banner .pb2 img {
    max-width: 100%;
    height: 304px; }
  @media (max-width: 767px) {
    .products1-banner .pb1 img, .products1-banner .pb2 img {
      height: 148px; } }

.products1List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .products1List h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px; }
  .products1List h2 {
    font-size: 32px;
    margin-bottom: 40px; }
  .products1List .proList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .products1List .proList li {
      width: 24%;
      border: 1px solid #DCDCDC;
      margin-bottom: 104px; }
      .products1List .proList li img {
        width: 100%;
        height: 164px; }
      .products1List .proList li .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .products1List .proList li .price p {
          font-size: 24px; }
        .products1List .proList li .price p span {
          color: #650300; }
      .products1List .proList li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .products1List .proList li .color .color1 {
          width: 24px;
          height: 24px;
          background-color: #aa0601;
          border-radius: 5px;
          margin-right: 8px; }
        .products1List .proList li .color .color2 {
          width: 24px;
          height: 24px;
          background-color: #650300;
          border-radius: 5px; }
  .products1List .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 171px; }
    .products1List .pages li {
      border: 1px solid #DCDCDC;
      text-align: center;
      padding: 14px; }
      .products1List .pages li a {
        display: block;
        font-size: 19px;
        text-decoration: none;
        color: black; }
        .products1List .pages li a:hover {
          color: #aa0601; }
  @media (max-width: 992px) {
    .products1List .container {
      max-width: 690px; }
    .products1List h1 {
      font-size: 32px; }
    .products1List h2 {
      font-size: 24px; }
    .products1List .proList li {
      width: 49%; }
    .products1List .pages li {
      padding: 4px;
      width: 70px; } }
  @media (max-width: 767px) {
    .products1List .container {
      max-width: 375px;
      padding: 0 15px; }
    .products1List h1 {
      font-size: 20px; }
    .products1List h2 {
      font-size: 16px; }
    .products1List .proList li {
      width: 100%; }
      .products1List .proList li .price p {
        font-size: 16px; } }

.products1List .proList .w33 {
  width: 32%; }

@media (max-width: 992px) {
  .products1List .proList .w33 {
    width: 48%; } }

@media (max-width: 767px) {
  .products1List .proList .w33 {
    width: 100%; } }

.storeMap .container {
  margin-top: 96px;
  margin-bottom: 128px; }
  .storeMap .container h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 0 16px;
    border-left: 8px solid #aa0601;
    margin-bottom: 65px; }
  .storeMap .container .mapChoose {
    margin-bottom: 37px; }
    .storeMap .container .mapChoose label {
      font-size: 24px;
      margin-right: 20px; }
    .storeMap .container .mapChoose select {
      width: 324px;
      padding: 10px 20px;
      border-color: #DCDCDC; }
  .storeMap .container .storeLocal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .storeMap .container .storeLocal li {
      width: 32%;
      margin-right: 1%;
      border: 1px solid #DCDCDC;
      margin-bottom: 32px; }
      .storeMap .container .storeLocal li img {
        width: 100%;
        height: 224px; }
      .storeMap .container .storeLocal li h2 {
        padding: 12px 24px;
        font-size: 24px;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 16px; }
      .storeMap .container .storeLocal li .tel, .storeMap .container .storeLocal li .time, .storeMap .container .storeLocal li .local {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 8px 27px; }
        .storeMap .container .storeLocal li .tel img, .storeMap .container .storeLocal li .time img, .storeMap .container .storeLocal li .local img {
          width: 24px;
          height: 24px;
          margin-right: 8px; }
      .storeMap .container .storeLocal li button {
        width: 100%;
        background-color: black;
        padding: 20px 0;
        border: none;
        margin-top: 8px; }
        .storeMap .container .storeLocal li button a {
          color: wheat;
          text-decoration: none;
          display: block; }
        .storeMap .container .storeLocal li button:hover {
          background-color: gray;
          cursor: pointer; }

@media (max-width: 992px) {
  .storeMap .container {
    max-width: 690px; }
    .storeMap .container .storeLocal {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .storeMap .container .storeLocal li {
        width: 48%; } }

@media (max-width: 767px) {
  .storeMap .container {
    max-width: 375px; }
    .storeMap .container h1 {
      font-size: 28px; }
    .storeMap .container .mapChoose label {
      font-size: 14px; }
    .storeMap .container .mapChoose select {
      width: 60%; }
    .storeMap .container .storeLocal li {
      width: 100%; } }

.storeSearch .container {
  margin-top: 96px;
  margin-bottom: 128px; }
  .storeSearch .container h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 0 16px;
    border-left: 8px solid #aa0601;
    margin-bottom: 65px; }
  .storeSearch .container .localChoose {
    margin-bottom: 37px; }
    .storeSearch .container .localChoose label {
      font-size: 24px;
      margin-right: 20px; }
    .storeSearch .container .localChoose select {
      width: 324px;
      padding: 10px 20px;
      border-color: #DCDCDC; }
  .storeSearch .container .searchitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .storeSearch .container .searchitem .searchitem-pct {
      border: 1px solid #DCDCDC;
      width: 40%; }
      .storeSearch .container .searchitem .searchitem-pct img {
        width: 100%;
        height: 224px; }
      .storeSearch .container .searchitem .searchitem-pct .setting h2 {
        padding: 12px 24px;
        font-size: 24px;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 16px; }
      .storeSearch .container .searchitem .searchitem-pct .setting .tel, .storeSearch .container .searchitem .searchitem-pct .setting .time, .storeSearch .container .searchitem .searchitem-pct .setting .local {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 8px 27px; }
        .storeSearch .container .searchitem .searchitem-pct .setting .tel img, .storeSearch .container .searchitem .searchitem-pct .setting .time img, .storeSearch .container .searchitem .searchitem-pct .setting .local img {
          width: 24px;
          height: 24px;
          margin-right: 8px; }
    .storeSearch .container .searchitem .searchitem-map {
      width: 58%; }
      .storeSearch .container .searchitem .searchitem-map iframe {
        display: block;
        width: 100%; }

@media (max-width: 992px) {
  .storeSearch .container {
    max-width: 690px; }
    .storeSearch .container .searchitem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .storeSearch .container .searchitem .searchitem-pct {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 32px; }
        .storeSearch .container .searchitem .searchitem-pct img {
          max-width: 330px; }
      .storeSearch .container .searchitem .searchitem-map {
        width: 100%; } }

@media (max-width: 767px) {
  .storeSearch .container {
    max-width: 375px;
    padding: 0 15px; }
    .storeSearch .container h1 {
      font-size: 28px; }
    .storeSearch .container .localChoose {
      width: 100%; }
      .storeSearch .container .localChoose label {
        width: 30%;
        font-size: 14px; }
      .storeSearch .container .localChoose select {
        width: 65%; }
    .storeSearch .container .searchitem .searchitem-pct {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
      .storeSearch .container .searchitem .searchitem-pct img {
        max-width: 100%; }
      .storeSearch .container .searchitem .searchitem-pct .setting h2 {
        font-size: 16px; }
      .storeSearch .container .searchitem .searchitem-pct .setting p {
        font-size: 14px; } }

.qa .container {
  margin-top: 60px;
  margin-bottom: 160px; }
  .qa .container h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 0 16px;
    border-left: 8px solid #aa0601;
    margin-bottom: 60px; }
  .qa .container h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 36px; }
  .qa .container .qaList li {
    margin-bottom: 32px; }
    .qa .container .qaList li h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 16px; }
    .qa .container .qaList li p {
      font-size: 16px;
      line-height: 1.5;
      margin-left: 10%; }

@media (max-width: 992px) {
  .qa .container {
    max-width: 690px; }
    .qa .container .qaList li {
      width: 100%; } }

@media (max-width: 767px) {
  .qa .container {
    max-width: 375px;
    padding: 0 15px;
    margin-top: 28px;
    margin-bottom: 56px; }
    .qa .container h1 {
      font-size: 28px;
      margin-bottom: 24px; }
    .qa .container h2 {
      font-size: 20px;
      margin-bottom: 24px; }
    .qa .container .qaList li {
      width: 100%;
      margin-bottom: 20px; }
      .qa .container .qaList li h3 {
        font-size: 16px;
        margin-bottom: 8px; }
      .qa .container .qaList li p {
        font-size: 14px;
        margin-left: 0; } }

nav {
  background-color: #650300; }
  nav .container {
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav .container .blog-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      nav .container .blog-bar li {
        margin-right: 48px; }
        nav .container .blog-bar li a {
          text-decoration: none;
          font-size: 20px;
          color: white;
          font-weight: 600; }
          nav .container .blog-bar li a:hover {
            color: #DCDCDC; }
    nav .container img {
      width: 29px;
      height: 29px; }

.blog .container {
  margin-top: 40px;
  margin-bottom: 160px; }
  .blog .container h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 0 16px;
    border-left: 8px solid #aa0601;
    margin-bottom: 60px; }
  .blog .container .blog-article li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px; }
    .blog .container .blog-article li img {
      height: 400px;
      max-width: 65%;
      margin-right: 30px; }
    .blog .container .blog-article li .blogTxt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .blog .container .blog-article li .blogTxt h2 {
        font-size: 32px;
        font-weight: 600;
        color: #aa0601;
        margin-bottom: 2px; }
      .blog .container .blog-article li .blogTxt .eng {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 24px; }
        .blog .container .blog-article li .blogTxt .eng h3 {
          font-size: 20px;
          font-weight: 600; }
    .blog .container .blog-article li p {
      font-size: 20px;
      color: #555555;
      line-height: 1.5;
      margin-bottom: 10%; }
    .blog .container .blog-article li h5 {
      -ms-flex-item-align: end;
          align-self: flex-end; }
      .blog .container .blog-article li h5 a {
        color: #aa0601;
        font-weight: 900;
        text-decoration: none;
        font-size: 36px; }
        .blog .container .blog-article li h5 a:hover {
          color: #555555; }
  .blog .container .page-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blog .container .page-item li {
      border: 1px solid #DCDCDC;
      margin-top: 48px; }
      .blog .container .page-item li a {
        display: block;
        text-decoration: none;
        color: gray;
        font-size: 19px;
        padding: 12px; }
        .blog .container .page-item li a:hover {
          color: white;
          background-color: black; }

@media (max-width: 992px) {
  nav .container .blog-bar li {
    margin-right: 32px;
    margin-bottom: 0;
    width: auto; }
    nav .container .blog-bar li a {
      font-size: 16px; }
  .blog .container {
    margin-bottom: 96px; }
    .blog .container .blog-article li {
      width: 100%; }
      .blog .container .blog-article li img {
        max-width: 330px;
        height: 208px; }
      .blog .container .blog-article li .blogTxt h2 {
        font-size: 20px; }
      .blog .container .blog-article li .blogTxt .eng h3 {
        font-size: 16px; }
      .blog .container .blog-article li .blogTxt .eng h4 {
        font-size: 14px; }
      .blog .container .blog-article li .blogTxt p {
        font-size: 14px;
        margin-bottom: 0; }
      .blog .container .blog-article li .blogTxt h5 a {
        font-size: 14px;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .blog .page-item li {
    width: auto; } }

@media (max-width: 767px) {
  nav {
    display: none; }
  .blog .container {
    max-width: 375px;
    padding: 0 15px; }
    .blog .container h1 {
      font-size: 28px;
      margin-bottom: 28px; }
    .blog .container .blog-article li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      margin-bottom: 20px; }
      .blog .container .blog-article li img {
        max-width: 375px;
        margin-right: 0;
        margin-bottom: 8px; }
      .blog .container .blog-article li .blogTxt h2 {
        font-size: 16px; }
      .blog .container .blog-article li .blogTxt .eng {
        margin-bottom: 0; }
      .blog .container .blog-article li .blogTxt p {
        display: none; }
    .blog .container .page-item li a {
      font-size: 14px;
      padding: 12px 16px; } }

.blogItem .container {
  margin-top: 8px;
  margin-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blogItem .container a {
    text-decoration: none;
    color: #aa0601;
    font-size: 24px;
    font-weight: 600;
    margin-right: 24px;
    margin-bottom: 8px; }
  .blogItem .container .blogTheme {
    max-width: 825px;
    margin-right: 30px; }
    .blogItem .container .blogTheme p {
      font-size: 16px;
      margin-bottom: 8px; }
    .blogItem .container .blogTheme span {
      color: #aa0601; }
    .blogItem .container .blogTheme h1 {
      font-size: 48px;
      margin-top: 8px; }
    .blogItem .container .blogTheme .valent {
      margin-top: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .blogItem .container .blogTheme .valent h2 {
        font-size: 28px; }
      .blogItem .container .blogTheme .valent p {
        font-size: 16px;
        color: #DCDCDC; }
    .blogItem .container .blogTheme .planning {
      width: 100%;
      border-bottom: 1px solid #DCDCDC; }
      .blogItem .container .blogTheme .planning li {
        margin-bottom: 32px; }
        .blogItem .container .blogTheme .planning li img {
          width: 100%;
          height: 539px;
          margin-bottom: 24px; }
        .blogItem .container .blogTheme .planning li p {
          font-size: 20px;
          line-height: 1.5;
          color: #0A0A0A; }
        .blogItem .container .blogTheme .planning li .share {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-top: 28px; }
          .blogItem .container .blogTheme .planning li .share p {
            font-weight: 700;
            margin-right: 20px; }
          .blogItem .container .blogTheme .planning li .share a {
            display: block; }
          .blogItem .container .blogTheme .planning li .share img {
            width: 24px;
            height: 24px; }
    .blogItem .container .blogTheme .upDown {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 8px; }
      .blogItem .container .blogTheme .upDown img {
        width: 16px;
        height: 16px; }
      .blogItem .container .blogTheme .upDown .up, .blogItem .container .blogTheme .upDown .down {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center; }
  .blogItem .container .blogTages {
    margin-top: 46px; }
    .blogItem .container .blogTages .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 24px; }
      .blogItem .container .blogTages .main p {
        font-size: 28px;
        color: #aa0601;
        margin-left: 12px;
        font-weight: 600; }
    .blogItem .container .blogTages .smallTages p {
      margin-bottom: 8px;
      display: inline-block; }

@media (max-width: 992px) {
  .blogItem .container {
    max-width: 690px; }
    .blogItem .container a {
      font-size: 16px; }
    .blogItem .container .blogTheme {
      max-width: 510px; }
      .blogItem .container .blogTheme p {
        font-size: 14px; }
      .blogItem .container .blogTheme h1 {
        font-size: 32px; }
      .blogItem .container .blogTheme .valent h2 {
        font-size: 16px; }
      .blogItem .container .blogTheme .planning li {
        width: 100%; }
        .blogItem .container .blogTheme .planning li img {
          height: 333px; }
        .blogItem .container .blogTheme .planning li p {
          font-size: 16px; } }

@media (max-width: 767px) {
  .nav1 {
    display: block; }
    .nav1 .container {
      max-width: 375px;
      padding: 0 15px; }
      .nav1 .container .blog-bar {
        width: 100%; }
        .nav1 .container .blog-bar li {
          width: 25%;
          margin-right: 0;
          padding: 12px 0; }
          .nav1 .container .blog-bar li a {
            font-size: 14px; }
      .nav1 .container img {
        display: none; }
  .blogItem .container {
    max-width: 375px;
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 56px; }
    .blogItem .container .blogTheme a {
      font-size: 16px; }
    .blogItem .container .blogTheme p {
      font-size: 14px; }
    .blogItem .container .blogTheme h1 {
      font-size: 20px; }
    .blogItem .container .blogTheme .valent h2 {
      font-size: 14px; }
    .blogItem .container .blogTheme .planning li img {
      height: 225px; }
    .blogItem .container .blogTheme .planning li p {
      font-size: 14px; }
    .blogItem .container .blogTheme .upDown {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

/*# sourceMappingURL=all.css.map */
